@import "/Users/sebastian-holtz/include/sass/stylevars.scss";

$animationtime : 0.5s;

html {

}

body {
	margin : 10px 0px;
	padding: 10px 0px;
}

button {
		@include transition(all, $animationtime);
}

.delete.badge {
	@include transition;
	
	&:hover {
		background-color : #d9534f;
	}
}

body {
	&>.container-fluid {
//		padding-left:0px;
//		padding-right:0px;
	}
}

.progressing.badge {
	background-color : #428bca;
}

.welldone.badge {
	background-color : #5cb85c;
}

.error.badge {
	background-color : #d9534f;
}

input[type="number"] {
	text-align : right;
}


@mixin todolistapp-entries-view-butttons {
	margin: 0px;
	padding:0px;
	position:absolute;
	top:0px;
	bottom:0px;
	width:30px;
	height:100%;
	border:solid;
	border-width:0px;
	border-color:rgb(221, 221, 221);
	text-align:center;
	overflow:hidden;
	@include transition(all, 0.2s);
	.center {
		position:absolute;
		height:0px;
		top:50%;
		left:0px;
		width:100%;
		i {
			position:relative;
			top:-10px;
		}
	}	
}

#todolistapp-lists-view {
	.list-group-item {
		
		padding-right : 35px;
		position:relative;
		overflow:hidden;
		
		@include transition(all, 0.2s);

		
		div.checkbox {
			@include todolistapp-entries-view-butttons;
			left:0px;
			border-right-width:1px;
		}
		
		div.delete {
			@include todolistapp-entries-view-butttons;
			right:0px;
			border-left-width:1px;
		}
		
		div.no {
			@include todolistapp-entries-view-butttons;
			right:-30px;
			border-left-width:1px;
		}
		
		&.delete-mode {
			padding-right : 65px;
			
			
			div.checkbox {
				left:-30px;
			}
		
			div.delete {
				right:30px;
				background-color: rgb(242, 222, 222);
			}
		
			div.no {
				right:0px;
				background-color: rgb(223, 240, 216);
			}		
		}
	}
}



#todolistapp-entries-view {
	.todolist-entry {
		
		padding-left : 35px;
		padding-right : 35px;
		position:relative;
		overflow:hidden;
		
		@include transition(all, 0.2s);

		
		div.checkbox {
			@include todolistapp-entries-view-butttons;
			left:0px;
			border-right-width:1px;
		}
		
		div.delete {
			@include todolistapp-entries-view-butttons;
			right:0px;
			border-left-width:1px;
		}
		
		div.no {
			@include todolistapp-entries-view-butttons;
			right:-30px;
			border-left-width:1px;
		}
		
		&.delete-mode {
			padding-left : 5px;
			padding-right : 65px;
			
			
			div.checkbox {
				left:-30px;
			}
		
			div.delete {
				right:30px;
				background-color: rgb(242, 222, 222);
			}
		
			div.no {
				right:0px;
				background-color: rgb(223, 240, 216);
			}		
		}
		
		&.ischecked {
			
			&:after {
				content : "";
				position:absolute;

				top:0px;
				bottom:0px;
				right:0px;
				left:30px;
			}
			
			&>* {
				opacity : 0.3;
			}
			.content {
				text-decoration: line-through;
			}
			.checktoggle {
				opacity : 1;
			}
			.delete {
				display:none;
			}
		}
		&>* {
			@include transition;
		}
		.checktoggle {
			@include transition;
			opacity : 0;
		}
	}
}