/* line 14, ../scss/todo.scss */
body {
  margin: 10px 0px;
  padding: 10px 0px;
}

/* line 23, ../scss/todo.scss */
.delete.badge {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 27, ../scss/todo.scss */
.delete.badge:hover {
  background-color: #d9534f;
}

/* line 33, ../scss/todo.scss */
body > .container-fluid {
  margin-top: 50px;
}

/* line 41, ../scss/todo.scss */
.progressing.badge {
  background-color: #428bca;
}

/* line 45, ../scss/todo.scss */
.welldone.badge {
  background-color: #5cb85c;
}

/* line 49, ../scss/todo.scss */
.error.badge {
  background-color: #d9534f;
}

/* line 53, ../scss/todo.scss */
input[type="number"] {
  text-align: right;
}

/* line 88, ../scss/todo.scss */
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 93, ../scss/todo.scss */
.small-space {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 100, ../scss/todo.scss */
.todolistapp-container li.todolist-entry {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 105, ../scss/todo.scss */
.todolistapp-container li.list-group-item {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 110, ../scss/todo.scss */
.todolistapp-container .list-inline {
  text-align: center;
}
/* line 112, ../scss/todo.scss */
.todolistapp-container .list-inline .list-group-item {
  margin: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 117, ../scss/todo.scss */
.todolistapp-container .list-inline .no-entry-view {
  display: block !important;
}
/* line 122, ../scss/todo.scss */
.todolistapp-container nav.navbar.navbar-fixed-top {
  opacity: 0.6;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 126, ../scss/todo.scss */
.todolistapp-container nav.navbar.navbar-fixed-top:hover {
  opacity: 1;
}
/* line 129, ../scss/todo.scss */
.todolistapp-container nav.navbar.navbar-fixed-top > .container-fluid {
  position: relative;
}
/* line 130, ../scss/todo.scss */
.todolistapp-container nav.navbar.navbar-fixed-top > .container-fluid .list-name {
  text-overflow: ellipsis;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 50px;
  margin-right: 111px;
  display: block;
  float: none;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
/* line 148, ../scss/todo.scss */
.todolistapp-container .sort-options, .todolistapp-container .entry-options {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 15px;
  text-align: center;
  overflow: hidden;
  max-height: 34px;
  opacity: 1;
}
/* line 157, ../scss/todo.scss */
.todolistapp-container .sort-options.folded, .todolistapp-container .entry-options.folded {
  margin-top: 0px;
  max-height: 0px;
  opacity: 0;
}

/* line 165, ../scss/todo.scss */
#todolistapp-lists.hidden + hr {
  display: none;
}

/* line 170, ../scss/todo.scss */
#topbar button.pull-right + button.pull-right {
  margin-right: 10px;
}

/* line 179, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item {
  padding-right: 35px;
  position: relative;
  overflow: hidden;
  min-width: 100px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 188, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.checkbox {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
  border: solid;
  border-width: 0px;
  border-color: #dddddd;
  text-align: center;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: 0px;
  border-right-width: 1px;
}
/* line 75, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.checkbox .center {
  position: absolute;
  height: 0px;
  top: 50%;
  left: 0px;
  width: 100%;
}
/* line 81, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.checkbox .center i {
  position: relative;
  top: -10px;
}
/* line 194, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.delete {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
  border: solid;
  border-width: 0px;
  border-color: #dddddd;
  text-align: center;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: 0px;
  border-left-width: 1px;
}
/* line 75, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.delete .center {
  position: absolute;
  height: 0px;
  top: 50%;
  left: 0px;
  width: 100%;
}
/* line 81, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.delete .center i {
  position: relative;
  top: -10px;
}
/* line 200, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.no {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
  border: solid;
  border-width: 0px;
  border-color: #dddddd;
  text-align: center;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: -30px;
  border-left-width: 1px;
}
/* line 75, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.no .center {
  position: absolute;
  height: 0px;
  top: 50%;
  left: 0px;
  width: 100%;
}
/* line 81, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item div.no .center i {
  position: relative;
  top: -10px;
}
/* line 206, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item.delete-mode {
  padding-right: 65px;
}
/* line 210, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item.delete-mode div.checkbox {
  left: -30px;
}
/* line 214, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item.delete-mode div.delete {
  right: 30px;
  background-color: #f2dede;
}
/* line 219, ../scss/todo.scss */
#todolistapp-lists-view .list-group-item.delete-mode div.no {
  right: 0px;
  background-color: #dff0d8;
}

/* line 230, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry {
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 239, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.checkbox {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
  border: solid;
  border-width: 0px;
  border-color: #dddddd;
  text-align: center;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: 0px;
  border-right-width: 1px;
}
/* line 75, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.checkbox .center {
  position: absolute;
  height: 0px;
  top: 50%;
  left: 0px;
  width: 100%;
}
/* line 81, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.checkbox .center i {
  position: relative;
  top: -10px;
}
/* line 244, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.checkbox i {
  opacity: 0;
}
/* line 249, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.delete {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
  border: solid;
  border-width: 0px;
  border-color: #dddddd;
  text-align: center;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: 0px;
  border-left-width: 1px;
}
/* line 75, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.delete .center {
  position: absolute;
  height: 0px;
  top: 50%;
  left: 0px;
  width: 100%;
}
/* line 81, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.delete .center i {
  position: relative;
  top: -10px;
}
/* line 255, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.no {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
  border: solid;
  border-width: 0px;
  border-color: #dddddd;
  text-align: center;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: -30px;
  border-left-width: 1px;
}
/* line 75, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.no .center {
  position: absolute;
  height: 0px;
  top: 50%;
  left: 0px;
  width: 100%;
}
/* line 81, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry div.no .center i {
  position: relative;
  top: -10px;
}
/* line 261, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.delete-mode {
  padding-left: 5px;
  padding-right: 65px;
}
/* line 266, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.delete-mode div.checkbox {
  left: -30px;
}
/* line 270, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.delete-mode div.delete {
  right: 30px;
  background-color: #f2dede;
}
/* line 275, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.delete-mode div.no {
  right: 0px;
  background-color: #dff0d8;
}
/* line 283, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.ischecked:after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 30px;
}
/* line 294, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.ischecked div.checkbox i {
  opacity: 1;
}
/* line 299, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.ischecked > * {
  opacity: 0.3;
}
/* line 302, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.ischecked .content {
  text-decoration: line-through;
}
/* line 305, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.ischecked .checktoggle {
  opacity: 1;
}
/* line 308, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry.ischecked .delete {
  display: none;
}
/* line 312, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry > * {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 316, ../scss/todo.scss */
#todolistapp-entries-view .todolist-entry .checktoggle {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0;
}
