@import "compass/css3";

$animationtime : 0.4s;

$defmargin : 20px;
$midmargin : 15px;

$buttonhigh : 34px;

html {

}

body {
	margin : 10px 0px;
	padding: 10px 0px;
}

button {
	
}

.delete.badge {
	@include transition-property(background-color);
	@include transition-duration($animationtime);
	
	&:hover {
		background-color : #d9534f;
	}
}

body {
	&>.container-fluid {
//		padding-left:0px;
//		padding-right:0px;
		margin-top: 50px;
	}
}


.progressing.badge {
	background-color : #428bca;
}

.welldone.badge {
	background-color : #5cb85c;
}

.error.badge {
	background-color : #d9534f;
}

input[type="number"] {
	text-align : right;
}


@mixin todolistapp-entries-view-butttons {
	margin: 0px;
	padding:0px;
	position:absolute;
	top:0px;
	bottom:0px;
	width:30px;
	height:100%;
	border:solid;
	border-width:0px;
	border-color:rgb(221, 221, 221);
	text-align:center;
	overflow:hidden;
	
	@include transition-property(all);
	@include transition-duration($animationtime);
	
	.center {
		position:absolute;
		height:0px;
		top:50%;
		left:0px;
		width:100%;
		i {
			position:relative;
			top:-10px;
		}
	}	
}

hr {
	margin-top:$midmargin;
	margin-bottom:$midmargin;
}

.small-space {
	margin-left:$defmargin / 2;
	margin-right:$defmargin / 2;
}

.todolistapp-container {
	
	li.todolist-entry {
		@include transition-property(background-color);
		@include transition-duration($animationtime);
	}
	
	li.list-group-item {
		@include transition-property(background-color);
		@include transition-duration($animationtime);
	}
	
	.list-inline {
		text-align:center;
		.list-group-item {
			margin:5px;
			@include border-radius(4px);
		}
		
		.no-entry-view {
			display:block !important;
		}
	}
	
	nav.navbar.navbar-fixed-top {
		opacity : 0.6;
		@include transition-property(opacity);
		@include transition-duration($animationtime);
		&:hover {
			opacity : 1;
		}
		&>.container-fluid {
			.list-name {
				text-overflow: ellipsis;
				height : 20px;
				white-space: nowrap;
				overflow: hidden;
				margin-left:50px;
				margin-right:44px + 51px + $defmargin / 2 + 6px;
				display:block;
	//			width:100%;
				float: none;
				text-align:center;
				font-size:12px;
				line-height:20px;
			}
			position:relative;
		}
	}
	
	.sort-options, .entry-options {
		@include transition-property(all);
		@include transition-duration($animationtime);
		margin-top:$midmargin;
		text-align : center;
		overflow : hidden;
		max-height : $buttonhigh;
		opacity : 1;
		
		&.folded {
			margin-top:0px;
			max-height : 0px;
			opacity : 0;
		}
	}
}

#todolistapp-lists.hidden + hr {
	display:none;
}

#topbar {
	button.pull-right + button.pull-right {
		margin-right : $defmargin / 2;
	}
}

#todolistapp-lists-view {
	

	
	.list-group-item {
		padding-right : 35px;
		position:relative;
		overflow:hidden;
		min-width:100px;
		
		@include transition-property(all);
		@include transition-duration($animationtime);

		div.checkbox {
			@include todolistapp-entries-view-butttons;
			left:0px;
			border-right-width:1px;
		}
		
		div.delete {
			@include todolistapp-entries-view-butttons;
			right:0px;
			border-left-width:1px;
		}
		
		div.no {
			@include todolistapp-entries-view-butttons;
			right:-30px;
			border-left-width:1px;
		}
		
		&.delete-mode {
			padding-right : 65px;
			
			
			div.checkbox {
				left:-30px;
			}
		
			div.delete {
				right:30px;
				background-color: rgb(242, 222, 222);
			}
		
			div.no {
				right:0px;
				background-color: rgb(223, 240, 216);
			}		
		}
	}
}



#todolistapp-entries-view {
	
	.todolist-entries-list.hide-checked {
		.ischecked {
			display:none;
		}
	}
	
	.todolist-entry {
		padding-left : 35px;
		padding-right : 35px;
		position:relative;
		overflow:hidden;
		
		@include transition-property(all);
		@include transition-duration($animationtime);

		div.checkbox {
			@include todolistapp-entries-view-butttons;
			left:0px;
			border-right-width:1px;
			
			i {
				opacity:0;
			}
		}
		
		div.delete {
			@include todolistapp-entries-view-butttons;
			right:0px;
			border-left-width:1px;
		}
		
		div.no {
			@include todolistapp-entries-view-butttons;
			right:-30px;
			border-left-width:1px;
		}
		
		&.delete-mode {
			padding-left : 5px;
			padding-right : 65px;
			
			
			div.checkbox {
				left:-30px;
			}
		
			div.delete {
				right:30px;
				background-color: rgb(242, 222, 222);
			}
		
			div.no {
				right:0px;
				background-color: rgb(223, 240, 216);
			}		
		}
		
		&.ischecked {
			
			&:after {
				content : "";
				position:absolute;

				top:0px;
				bottom:0px;
				right:0px;
				left:30px;
			}
			
			div.checkbox {
				i {
					opacity:1;
				}
			}
			
			&>* {
				opacity : 0.3;
			}
			.content {
				text-decoration: line-through;
			}
			.checktoggle {
				opacity : 1;
			}
			.delete {
				display:none;
			}
		}
		&>* {
			@include transition-property(all);
			@include transition-duration($animationtime);
		}
		.checktoggle {
			@include transition-property(all);
			@include transition-duration($animationtime);
			opacity : 0;
		}
	}
}